textarea{
    height: 200px;
}

button{
    background: none;
    color: hsla(255, 100%, 100%, 1);
    text-decoration: none; 
}

button:hover{
    background: hsla(15, 25%, 34%, 1);
    text-decoration: none;
    transition: 0.3s;
}

textarea{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding-left: 250px;
    height: 100px;
}

#form-wrapper{
    padding-top: 100px;
    /*
    display: flex;
    justify-content: center;
    */
}

#contact-form{
    width: 60%;
    padding: 10px;
    text-align: left;
}
.form-item{
    padding: 10px 0;
    margin: 10px 0;
}

.text-box{
    margin: 8px 0;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    border: 2px solid hsla(15, 25%, 34%,1);
}

.text-box:hover{
    border-color: hsla(122, 39%, 49%, 1);
}

.text-box:active{
    border-color: hsla(122, 39%, 49%, 1);
}

#contact-btn{
    margin-top: 20px;
    padding: 20px 0 0 0;
}

#form_button_wrapper {
    margin-left: 635px;
}

@media screen and (max-width: 1000px) {
    #form_button_wrapper {
        margin-left: 150px;
    }
}

@media screen and (max-width: 800px) {
    #form_button_wrapper {
        margin-left: 80px;
    }
}


@media screen and (max-width: 600px) {
    #form_button_wrapper {
        margin-left: 40px;
    }
}
