html, body{
    background-color: hsla(255, 100%, 100%, 1);
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.project-content{
    margin: 0px 0;
    padding: 100px 20px 0 0;
    text-align: justify;
}

.project-header{
    padding: 10px 0;
}

.work-description{
    margin: 10px 85px 10px 0;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
        font-size: 1.8em;
        padding-right: -20px;
    }
    .project-content{

    }
    .project-header{
        padding-right: -100px;
        margin-left: -50px;
    }
}

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        font-size: 1.6em;
    }
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        font-size: 1.4em;
    }
}